<div class="side-nav">
  <div class="side-recent-questions">
	<div class="side-nav-title">Search:</div>
	<div class="side-nav-content-wrapper search-wrapper">
	  <form action="/results" style="display: inline-flex" id="search-form">
	  <input id="search_input" type="text" class="input-text input" name="search"  placeholder="search everything..."/>

	  <span class="search-span"><%= link_to( image_tag(image_url('search.png'), class: 'search-button'),"#", id:"search_button")  %></span>
	  </form>
	</div>
  </div>
  <div class="side-recent-questions">
	<div class="side-nav-title"><%= link_to "Recent Questions", questions_path, class:"side-bar no-formatt grey-link bold" %></div>
	<div class="side-nav-content-wrapper">
	  <% recent = Question.all[0..4] %>
	  <% if !recent.nil? %>
	  <% recent.each do |question| %>
		  <div class="side-nav-content"><span class="not-important side-vote"> <%= question.votes %></span><span class="side-question"><%= link_to question.title, field_question_path(id: question.url, field_id: Field.find(question.field_id).name), class:"no-formatt blue-link" %></span></div>
		  <% end %>
	  <% end %>
	</div>
	<%= link_to "New question", new_question_path, class:" no-formatt not-important float-right btn-grey" %>
  </div>
  <div class="side-recent-questions">
	<div class="side-nav-title"><%= link_to "Recent Posts", forums_path, class:"side-bar no-formatt grey-link bold" %></div>
	<div class="side-nav-content-wrapper">
	  <% recent = Post.all[0..4] %>
	  <% if !recent.nil? %>
		  <% recent.each do |post| %>
			  <div class="side-nav-content"><span class="not-important side-vote"> Replies:<%= Reply.where(post_id: post.id).size.to_s %></span><span class="side-question"><%= link_to post.title, topic_post_path(topic_id: Topic.find(post.topic_id).url, id:post.url), class:"no-formatt blue-link" %></span></div>
		  <% end %>
	  <% end %>
	</div>
  </div>
  <br/>
  <p>

  </p>
</div>