<div class="small-question-link " >
  <div class="small-question-votes"><div class="votes-partial">
	<%= render partial: 'votes', locals:{question: question} %>
  </div></div>
  <div class="small-question-wrapper">
  <div class="small-question-link-title">
	<%= link_to question.title[0..30], field_question_path(id: question.url, field_id: field.name), class:"no-formatt-underline float-left"%>
	<div class="float-right">
	  asked by,<%= link_to User.find(question.user_id).name, user_path(User.find(question.user_id).name), class:"float-right formatt-link"%>
	</div>
  </div>
  <div class="small-question-content">
	<%= question.content[0..140] %>
	<div class="small-question-date">
	  <div class="float-left not-important">
		asked on: <%= question.created_at %>
	  </div>
	  <% if (current_user==User.find(question.user_id)) %>
		  <div class="float-right">
			<%= link_to "Delete", question, method: :delete, data:{confirm:"Are you sure?"} %>
		  </div>
	  <% end %>
	</div>
  </div>
  </div>
</div>