<% provide :title, 'New Question' %>
<h1 class="page-title">
  <%= if params[:field_id]
	  "Ask new Question for "+params[:field_id]
	  else
		"Ask new Question"
	end
  %>

</h1>
<%= form_for @quetion do  |f|%>
	<%= f.label :title, class:"form-label question-form" %>
	<%= f.text_field :title, class:"text_area form-input" %>

	<%= f.label :content, class:"form-label" %>
	<%= f.text_area :content, class:"text_area form-input" %>

	<% if params[:field_id] %>
	<%= f.hidden_field :field_id, value:Field.find_by(name: params[:field_id]).id %>
	<% else %>
		<%= f.label :field, class:"form-label" %>
		<select name="question[field_id]" class="form-input">
		  <% Field.all.each  do |field| %>
			  <option value="<%= field.id %>" class="form-input">
			  <%= field.name %>
			  </option>
		  <% end %>
		</select>
	<% end %>
	<%= f.submit "Post Question!", class:"btn primary-btn" %>
<% end %>
