<% provide :title, "Administrator Functions" %>
<h1 class="page-title">Administrator Functions</h1>
<ul class="link-list">
  <li class="link-listitem"><%= link_to "Add New Question Field", new_field_path, class:"no-formatt blue-link"%></li>
  <li class="link-listitem"><%= link_to "Add New Forum Topic", new_topic_path, class:'no-formatt blue-link'%></li>
  <li class="link-listitem"><%= link_to 'Delete User', '#', class:'no-formatt blue-link'%></li>
  <li class="link-listitem"><%= link_to 'Add Moderator',new_moderator_path , class:'no-formatt blue-link' %></li>
  <li class="link-listitem"><%= link_to 'Add Forun Administrator',new_forum_admin_path , class:'no-formatt blue-link' %></li>
</ul>