<% provide :title, 'New Topic' %>
<h1 class="page-title">
  New Forum Topic
</h1>
<%= form_for @topic, class: "form" do |f| %>
	<%= f.label :name, class:"form-label" %>
	<%= f.text_field :name, class:"form-input" %>
	<%= f.label :general, class:"form-label" %>
	<%= f.check_box :general, class:"form-input check-box" %>
	<%= f.submit "Submit", class:"btn" %>
<% end %>