<% provide :title, @post.title %>
<div class="breadcrunbs">
  <% topic = Topic.find(@post.topic) %>
  <% if topic.general? %>
  <span class="breadcrumb"><%= link_to "General->", topics_path, class: "no-formatt blue-link small" %></span>
  <% else %>
	  <span class="breadcrumb"><%= link_to "Miscelleneous->", topics_path, class: "no-formatt blue-link small" %></span>
  <% end %>
  <span class="breadcrumb"><%= link_to topic.name+"->", topic_path(topic.url), class: "no-formatt blue-link small" %></span>
  <span class="breadcrumb"><%= link_to @post.title, topics_path, class: "no-formatt blue-link small" %></span>
</div>

<div class="post-wrapper">
  <div class="post-table">
	  <div class="post-title-wrapper">
		  <div class="post-title">
			<%= @post.title %>
			<div class="post-info not-important">posted on &nbsp; <%= @post.created_at %> &nbsp;by,&nbsp;
			  <span><%= link_to User.find(@post.user_id).name, user_path(User.find(@post.user_id).name), class:"no-formatt blue-link" %></span>
			</div>
		  </div>
	  </div>
  <div>
	<% @replies.each do |reply|%>
		<div class="post-content-wrapper">
		  <% user = User.find(reply.user_id) %>
		  <div class="reply-wrapper">
			<div class="user-info-wrapper float-left">
			  <div class="user-avatar <img src="<%= image_url 'logo.png' %>"></div>
			<div class="user-name" ><strong><%= link_to(user.name, user_path(user.name), class:"no-formatt blue-link") %></strong></div>
				<div class="user-info">User rep: <strong><%= user.rep%></strong></div>
			<div class="user-info">Member Since: <strong><%= user.created_at.month.to_s + "/"+user.created_at.year.to_s %></strong></div>
		  </div>
		  <div class="reply-content-wrapper float-left">
			<div class="reply-content"><%= reply.content %></div>
			<div class="info not-important"><%= reply.created_at %></div>
		  </div>
		</div>
		<div class="signature">
		  "Default signature, ignore"
		</div>
		</div>
	<% end %>
  </div>
</div>
</div>
