<% provide :title, "Add New Moderator" %>
<div class="page-title">Add new moderator:</div>

  <%= form_for @moderator do |f| %>
	<%= render 'layouts/error_messages',  object: f.object %>
	<%= f.label :field, class:"form-label not-important" %>
	<select name="moderator[field]" class="form-input">

	  <% if current_user.admin? %>
		  <% Field.all.each  do |field| %>
			  <option value="<%= field.name %>" class="form-input">
				<%= field.name %>
			  </option>
		  <% end %>
	  <% else %>
		  <% Moderator.where(user_id: current_user.id).each do |mod| %>
			  <option value="<%= Field.find(mod.field_id).name %>" class="form-input">
				<%= Field.find(mod.field_id).name %>
			  </option>
		  <% end %>
	  <% end %>


	</select>
	<%= f.label :user, class:"form-label not-important" %>
	<%= f.text_field :user, class:"form-input", placeholder:"enter user name" %>
	<%= f.submit  class:"btn"%>
<% end %>