<div id="bar">
<div id="topbar" class="topbar">
<%= link_to "HiveMind", root_url, class: "logo no-formatt", id: "logo" %>
  <ul class="topbar-list">
	<li class="topbar-listitem">
	<%= link_to "About", about_path, class: "topbar-link no-formatt" %>
	</li>
	<li class="topbar-listitem">
	<%= link_to "Help", help_path, class: "topbar-link no-formatt" %>
	</li>
	<li class="topbar-listitem">
	  <%= link_to "Forums", forums_path, class: "topbar-link no-formatt" %>
	</li>
	<li class="topbar-listitem">
	  <%= link_to "Questions", questions_path, class: "topbar-link no-formatt" %>
	</li>
	<% if !current_user.nil? %>
		<li class="topbar-listitem account" >
		  <% @account  =String.new
			 @account = current_user.notifications_count.to_s if current_user.notifications_count!=0
			 @account += current_user.name
			  if current_user.admin?
				@account += "(admin)"
			  end
		  %>
		  <%= link_to @account, "#", class: "topbar-link no-formatt" %>
			<ul class="account-list" id="account-list">
			  <li class="account-listitem">
				<%= link_to "Profile", user_path(id:current_user.name), class:"account-link no-formatt"  %>
			  </li>
			  <li class="account-listitem">
				<%= link_to "Settings", edit_user_path(current_user), class:"no-formatt account-link"  %>
			  </li>
			  <% if current_user.admin? %>
			  <li class="account-listitem">
				<%= link_to "Admin Functions", admin_functions_path, class:"no-formatt account-link"  %>
			  </li>
			  <% end %>
			  <li class="account-listitem">
				<%= link_to "Logout", logout_path, class:"no-formatt account-link" , method: :delete %>
			  </li>
			</ul>
		</li>

	<% else %>
		<li id="topbar-login"class="topbar-listitem">
		  <%= link_to "Login", login_path, class: "topbar-link no-formatt" %>
		  <ul class="account-list" id="topbar-login">
			<li class="account-listitem">
			  <%= render 'session/login' %>
			</li>
		  </ul>
		</li>
	<% end %>
  </ul>

</div>
</div>